@media only screen and (max-width: 950px) {
  /* For mobile phones: */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

section {
  display: inline-block;
  width: 100%;
  font-family: Open Sans;
}

.errorDisplay {
  font-family: Open Sans;
  color: #af0808;
  background-color: #e54242;
}

.column1 {
  text-align: center;
  background-color: #455A64;
  vertical-align: middle;
}

.column2 {
  background-color: #CFD8DC;
  overflow-y: auto;
  height: 100%;
}

article {
  display: block;
  background-color: #FFFFFF;
  border: .1em solid #607D8B;
  margin: 1em;
  padding: 1em;
  /*text-align: center;*/
}

h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.1em;
  margin: 0em;
}

h2 {
  color: #607D8B;
  font-weight: 800;
}

hr {
  height: .1em;
  border: none;
  background-color: #CFD8DC;
}

header {
  margin-top: 1em;
}


span {
  display: inline-block;
  width: 1.6em;
  height: auto;
}

input {
  width: 11.3em;
  height: 1.4em;
  font-size: 2.3em;
}

button {
  cursor: pointer;
}

a {
  font-family: Open Sans;
  font-weight: 400;
  color: #607D8B;
  text-decoration-color: #F2F2F4;
}

.read-btn, .delete {
  border: none;
  background-color: #FFFFFF;
  color: #455A64;
  margin-bottom: .5em;
  text-decoration: underline;
  text-decoration-color: #F2F2F4;
  font-size: 12px;
}

.delete {
  float: right;
  margin-right: 10px;
}

 a:hover{
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.read-btn:hover{
  font-weight:800;
  text-decoration-color: #FFC107;
}

.create-bkm:hover{
  background-color: #FFD773;
}

.bkm-title {
  margin: .3em 0em .3em 0em;
}

.bkm-url {
  margin-bottom: .2em;
}

.create-bkm {
  width: 33em;
  height: 4em;
  background-color: #FFC107;
  color: #FFFFFF;
  border: none;
  font-size: .8em;
  margin-bottom: 1.1em;
}

::placeholder {
  color: #d4d6d8;
  font-weight: 400;
  box-shadow: 2px #d4d6d8;
}

.bookmarkCount {
  right: 0;
  top: 0;
  left: 0;
  /*border: 2px solid #455A64;*/
  width: 100%;
  text-align: center;
  height: 3em;
  padding: 1em 0em;
  padding-bottom: 2em;
  background-color: #F2F4F4;
  box-shadow: inset 0em 0em 0em .2em #d4d6d8;

}

.deleteReadBtn {
  background-color: #455A64;
  color: #FFFFFF;
  border: none;
  font-size: .8em;
  padding: .5em;
  margin-left: 1em;
}

h2, .deleteReadBtn {
  display: inline-block;
}

h2 {
  color: #607D8B;
  margin-left: 1em;
}

} /*END OF MOBILE PHONE SCREEN MEDIA QUERY*/

.read {
  color: #F05A28 !important;
  background-color: #F2F4F4 !important;
}
 /*create a mobile display*/


@media only screen and (min-width: 950px) {
  /* For desktop: */

.bookmarkCount {
  position: relative;
  display: block;
  right: 0;
  top: 0;
  left: 0;
  /*border: 2px solid #455A64;*/
  width: 100%;
  text-align: center;
  height: 3em;
  padding: 1em 0em;
  padding-bottom: 2em;
  background-color: #F2F4F4;
  box-shadow: inset 0em 0em 0em .2em #d4d6d8;

}

.deleteReadBtn {
  background-color: #455A64;
  color: #FFFFFF;
  border: none;
  font-size: .8em;
  padding: .5em;
  margin-left: 1em;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
}

section {
  display: inline-block;
  width: 50%;
  height: 100vh;
  font-family: Open Sans;
}

.bkm-bar, .deleteReadBtn {
  display: inline-block;
}

.bkm-bar {
  color: #607D8B;
  margin-left: 1em;
}

.errorDisplay {
  font-family: Open Sans;
  color: #af0808;
  background-color: #e54242;
}

.column1 {
  text-align: center;
  background-color: #455A64;
  vertical-align: middle;
}

.column2 {
  float: right;
  background-color: #CFD8DC;
  overflow: auto;
  position: relative;
}

article {
  display: block;
  background-color: #FFFFFF;
  border: .1em solid #607D8B;
  margin: 1em;
  padding: 1em;
  position: relative;
  /*text-align: center;*/
}

h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 3.5em;
}

h2 {
  color: #455A64;
  font-weight: 800;
}

hr {
  height: .1em;
  border: none;
  background-color: #CFD8DC;
}

header {
  margin-top: 10em;
}


span {
  display: inline-block;
  width: 1.6em;
  height: auto;
}

input {
  width: 20em;
  height: 1.3em;
  font-size: 1.3em;
}

a {
  font-family: Open Sans;
  font-weight: 400;
  color: #607D8B;
  text-decoration-color: #F2F2F4;
}

.read-btn, .delete {
  border: none;
  background-color: #FFFFFF;
  color: #455A64;
  margin-bottom: .5em;
  text-decoration: underline;
  text-decoration-color: #F2F2F4;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.delete {
  float: right;
  margin-right: 10px;
}

 a:hover{
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.read-btn:hover{
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.create-bkm:hover{
  background-color: #FFD773;
}

.bkm-title {
  margin: 1.1em 0em 1.1em 0em;
}

.bkm-url {
  margin-bottom: 1.1em;
}

.create-bkm {
  width: 33em;
  height: 2em;
  background-color: #FFC107;
  color: #FFFFFF;
  border: none;
  font-size: .8em;
}

.create-bkm:disabled {
  background-color: #CFD8DC;
}